html,
body,
#root,
.main {
  height: 100%;
  margin: 0;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  width: 100%;
  margin-bottom: 2%;
}

h1 {
  font-size: 10rem;
  color: #0e3263;
  text-align: center;
}

.instruction {
  font-size: 0.9rem;
  font-weight: bold;
  color: #0e3263;
  text-align: center;
}

.bottom {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textbox {
  height: 200%;
  width: 70%;
  padding: 1%;
  border: solid #00e499;
  border-radius: 10px;
  background-color: white;
  outline-color: #00e499;
  caret-color: #0e3263;
  color: #0e3263;
}

.streakCounter {
  width: 70%;
  font-size: 5rem;
  color: #0e3263;
}
